[project]
name = "nonebot-plugin-alconna"
description = "Alconna Adapter for Nonebot"
authors = [
    {name = "RF-Tar-Railt", email = "rf_tar_railt@qq.com"},
]
dependencies = [
    "arclet-alconna<2.0.0, >=1.7.26",
    "arclet-alconna-tools<0.7.0, >=0.6.7",
    "nepattern<0.6.0, >=0.5.14",
    "nonebot2>=2.0.0",
]
dynamic = ["version"]
requires-python = ">=3.8"
readme = "README.md"
license = {text = "MIT"}
keywords = [
    "command",
    "argparse",
    "cli",
    "alconna",
    "nonebot",
]
[project.urls]
homepage = "https://github.com/nonebot/plugin-alconna"
repository = "https://github.com/nonebot/plugin-alconna"

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm]
[tool.pdm.dev-dependencies]
dev = [
    "fix-future-annotations>=0.5.0",
    "nonebot-adapter-onebot>=2.3.1",
    "nonebot-adapter-feishu>=2.0.2",
    "nonebot-adapter-console>=0.4.0",
    "nonebot-adapter-ding>=2.0.0a16",
    "nonebot-adapter-mirai2>=0.0.22",
    "nonebot-adapter-minecraft>=0.1.3",
    "nonebot-adapter-ntchat>=0.3.5",
    "nonebot-adapter-qqguild>=0.4.0",
    "nonebot-adapter-telegram>=0.1.0b14",
    "isort>=5.12.0",
    "black>=23.9.1",
    "loguru>=0.7.2",
    "ruff>=0.0.292",
    "nonemoji>=0.1.4",
    "pre-commit>=3.4.0",
    "nonebot-adapter-villa>=0.6.6",
    "nonebot-adapter-discord>=0.1.0b4",
    "nonebot-adapter-kaiheila>=0.2.12",
    "nonebot-adapter-red>=0.6.0",
    "nonebug>=0.3.5",
    "pytest-xdist>=3.3.1",
    "pytest-asyncio>=0.21.1",
    "nonebot-adapter-qq>=1.0.0",
    "nonebot-adapter-satori>=0.4.0",
    "nonebot2[httpx,websockets]>=2.1.1",
    "fastapi>=0.103.2",
    "uvicorn[standard]>=0.23.2",
]
[tool.pdm.build]
includes = ["src/nonebot_plugin_alconna"]

[tool.pdm.version]
source = "file"
path = "src/nonebot_plugin_alconna/__init__.py"

[tool.black]
line-length = 110
target-version = ["py38", "py39", "py310", "py311"]
include = '\.pyi?$'
extend-exclude = '''
'''

[tool.isort]
profile = "black"
line_length = 110
length_sort = true
skip_gitignore = true
force_sort_within_sections = true
extra_standard_library = ["typing_extensions"]

[tool.ruff]
select = ["E", "W", "F", "UP", "C", "T", "PYI", "PT", "Q"]
ignore = ["C901", "T201", "E731", "E402"]

line-length = 110
target-version = "py38"

[tool.pyright]
pythonVersion = "3.8"
pythonPlatform = "All"
typeCheckingMode = "basic"

[tool.pdm.scripts]
test = "pytest -v -n auto -W ignore"
format = { composite = ["isort ./src/ ./example/ ./tests/","black ./src/ ./example/ ./tests/","ruff ./src/ ./example/ ./tests/"] }

[tool.pytest.ini_options]
asyncio_mode = "auto"